
#bg1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;;
    z-index: -1;
    top: 0;
}
#bg2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    top: 0;
}
#bg3 {
    width: 100vw;
    height: 50vh;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    top: 0;
}

.hong {
    padding-left: 71px;
}